%h1 Picasa
- if @albums.present?
  %ul
  - @albums.each do |album|
    %li
      = album[:title]
      %br/
      = image_tag album[:thumb]
      = link_to "Show photos", show_photos_path 
- else
  Albums empty