%h1 Photos
/ =@request_xml
/ %br/

/ - if @photos.present?
/   - @photos.each do |photo|
/     = image_tag photo[:thumb]
/ - else
/   Sorry, this album is empty
.polaroid 
  .empty_album
  %br/
  No photo