%h1 Picasa album
- if @albums.present?
  - @albums.each do |album|
    .rotation
      .polaroid
        = link_to (image_tag album[:thumb]), show_photos_path 
        %br/
        = album[:title]
- else
  .polaroid 
    .empty
    Album empty