@import 'colors';

body {
  font-family: "helvetica neue", arial, sans-serif;
  background-color: $background;
}

h1 {
  color: $h1-color;
 /* color: #62412e;*/
}

.button {
  text-align: center; 
  position:relative;
  margin: auto;
  width: 10%;
  font: 18px 'Arial';
  color: white;
  padding: 10px;
  text-decoration: none;
  @include border-radius(10px); 
  @include box-shadow(0px 2px 3px $shadow);
  @include text-shadow(0px 1px 3px  $shadow);
  border: solid white 2px;
  @include background(linear-gradient(top, $gray, $gray));
  a:link {
    color: white;
    text-decoration :none;
  } 
  a:visited { color: white; }
  &:hover { background: $gray-hover; }
}

.polaroid {
  width: 184px;
  height: 209px;
  background-color: white;
  padding-top: 10px;
  font: 14px 'Arial';
  font-weight: bold;
  color: black;
  text-align: center;
  @include box-shadow(0 3px 6px rgba(0,0,0,.25));
  a:link { text-decoration: none; }    
  a:visited { color: black; }
}

.rotation {
  display:inline-block;
  margin: 20px;
  @include rotate(-5deg);
  @include transition(all, 0.5s, linear);
  &:hover {
    @include scale(1.15);
    position: relative;
  }
}
  
.empty_album {
  display: inline-block;
  width: 160px;
  height: 160px;
  background-color: black;
}
